version: 2
jobs:
  build:

    docker:
      - image: circleci/node:10.16

    working_directory: ~/client

    steps:
      - checkout
          - add_ssh_keys:
        fingerprints:
          - "6e:48:ff:53:04:b8:02:88:f6:c1:24:42:f4:5a:f9:a4"
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
    - run:
        name: Push Master to Production
        command: |
          git push https://github.com/wagabooga/scheduler master:production
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm test
      deploy:
  machine:
    enabled: true

  working_directory: ~/client

  # steps:

  #   - checkout


workflows:
  version: 2
  test_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: production
      - deploy:
          filters:
            branches:
              ignore: production
          requires:
            - build





